/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global Styling */
:root {
    --main: #0D3B66;
    --secondary: #FAF0CA;
    --tertiary: whitesmoke;
    --text: #09141f;
    --box-shadow: #0f3253;
}

/* Reset and Normalize */
*,
*::after
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
}

a {
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

img, picture {
    max-width: 100%;
}

article, aside, footer, header, nav, section {
	display: block;
}

/* Navigation ----------------------------------------------------------------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto; 
    Height: auto;
    position: sticky;
    top: 0;
}

nav p {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    cursor: auto;
    transition: color 0.3 ease-in-out, font-size 0.3s ease-in-out 0.1s;
}

nav p span {
    color: var(--main);
    transition: color: ;

} 

nav ul {
    display: flex;
    gap: 15px;
    font-size: 14px;
    z-index: 1;
}

nav ul li { 
    border: 1.7px solid var(--main);
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3 ease-in-out, font-size 0.3s ease-in-out 0.1s;
}

nav ul li:hover {
    border: 1.99px solid var(--main);
    border-radius: 20%;
    border-color: #144b7e;
    font-weight: bold;
    transition: color 0.3 ease-in-out, font-size 0.3s ease-in-out 0.1s;
    cursor: pointer;
}

nav ul li a {
    color: var(--main);
    font-weight: bold;
    transition: none;
}

nav ul li:hover > a {
    color: rgb(63, 128, 212);
    font-weight: bold;
    transition: color 0.3 ease-in-out, font-size 0.3s ease-in-out 0.1s;;
}

@media only screen and (max-width: 880px) {
    nav {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
    nav ul {
        display: flex;
        flex-direction: column;
        gap: auto;
    }
}

/* Slider Section  ----------------------------------------------------------------------------------------------------------------*/

section {
    background-color: var(--main);
    height: 220px;
    position: relative;
    border-radius: 10px;
}    


.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

.content h1 {
    font-size: 42px;
}

.content p {
    font-size: 16px;
}

@media only screen and (max-width: 945px) {
    .content h2 {
        font-size: 24px;
    }
    
    .content p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 680px) {
    .content h2 {
        font-size: 20px;
    }
    
    .content p {
        font-size: 6px;
    }
}

@media only screen and (max-width: 300px) {
    .content h2 {
        font-size: 18px;
    }
    
    .content p {
        display: 4px;
    }
}

/* Main Content  ----------------------------------------------------------------------------------------------------------------*/

.main-content {
    display: flex;
    align-items: start;
    flex-direction: row;
    text-align: center;
    margin: auto;
    gap: auto;
}

.blog {
    flex: 75%;
}

.sidebar {
    flex: 25%;
}

.post {
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 1px var(--box-shadow);
    margin: 40px;
    margin-right: 0%;
    position: relative;
    min-height: 200px;
}

.post-image  {
    min-height: auto;
    transition: transform 0.3s ease-in-out;;
    overflow: hidden;
}

.post:hover .post-image img {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.post-image img {
    height: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.post-content {
    padding: 35px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.post-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.post-info {
    text-align: left;
    color: #2a3541;
    font-size: 14px;
}

.post-summary {
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    .main-content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .main-content {
        margin: auto;
    }

    .post {
        flex-direction: column;
    }
}

/* Siderbar ----------------------------------------------------------------------------------------------------------------*/

.sidebar {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}

.popular-posts-side {
    margin: 20px; ;
    width: 100%;
}

.popular-posts-side h2 {
    font-size: 18px;
    color: #41698b;
    font-weight: bold;
    padding-left: 19px;

}

.popular-post {
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 1px var(--box-shadow);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    padding: 15px;
    gap: 10px;
    transition: all 0.3s ease;
}

.popular-post:hover {
    margin-left: 10px;
    margin-right: 10px;
    transition: margin 0.3s ease;
    cursor: pointer;
}

.popular-post-image {
    width: 75px;
    height: 75px;
}

.popular-post-image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.popular-post-title {
    font-size: 14px;
    color: #2a3541;
    font-weight: bold;
}

.popular-post-desc {
    font-size: 12px;
    color: #3b444d;
}

@media only screen and (max-width: 500px) {
    .popular-posts-side {
        margin: auto;
    }

    .sidebar {
        flex-direction: column;
    }
}

/* Social Side ----------------------------------------------------------------------------------------------------------------*/

.social-side {
    margin: 40px;
    margin-right: 0px;
    width: auto;
}

.social-side div {
    display: flex;
    padding: 15px;
    box-shadow: 0 0 1px var(--box-shadow);
    background: whitesmoke;
    border-radius: 10px;
    width: auto;
    border-radius: 3px;
    gap: 20px;
    justify-content: center;
}

.social-side h2 {
    font-size: 18px;
    color: #41698b;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.social-side a {
    max-width: max-content;
    transition: transform 0.3s ease;
}

.social-side a img {
    width: 50px;
    height: 50px;
}

.social-side a:hover img {
    border-radius: 5%;
    filter: blur(1px);
    transition: all 0.3s ease;
}

@media only screen and (max-width: 992px) {
    .sidebar {
          flex-direction: column;
      }
  
      .popular-posts-side {
          flex: auto;
      }
  }

/* Footer ----------------------------------------------------------------------------------------------------------------*/  

footer {
    background-color: #141f29;
    color: white;
    border-radius: 10px;
}

.footerBoxes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center
    gap: 20px;
    padding: 25px;
}

.footerBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 50px;
}

@media only screen and (max-width: 1000px) {
    .footer .footerBoxes {
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .footer .footerBoxes {
        flex-direction: column;
    }
}

.footerBox {
    flex: 1;
    text-align: justify;
}

.footerBox h3 {
    color: whitesmoke);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.footerBox hr {
    height: 1px;
    width: 100%;
    background: whitesmoke;
    border: none;
    margin-bottom: 10px;
}

.footerBox p {
    font-size: 14px;
    color: whitesmoke;
}

footer .splitter {
    height: 1px;
    width: 100%;
    margin: 20px;
    background: whitesmoke;
    border: none;
}

.copy-right {
    font-size: 14px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    padding-bottom: 20px;
}

